@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Book>

<!-- Content Header (Page header) -->
    <section class="content-header">

      <h1>
        Danh sách sản phẩm
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-body">

          @* <form action="#" method="get"> *@
            @using (Html.BeginForm("Index", "Book", FormMethod.Get)) {
              <div class="box-tools pull-right margin-bottom">
              <div class="input-group input-group-sm hidden-xs" style="width: 200px;">
                <!--                                            'categoryId='+(categoryId!=null?categoryId:'')+'&orderBy='+(orderBy!=null&&orderBy!=''?orderBy:'')+'&keyword'-->
                @* <input if="${categoryId!=null}" type="hidden" name="categoryId" value=""> *@
                <input type="text" name="SearchString" class="form-control pull-right" placeholder="Search" value="@ViewBag.currentFilter">
                <input type="hidden" name="CategoryId" value="@ViewBag.categoryId">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
            }
          @* </form> *@

          <table class="table table-bordered">
              <tbody><tr>
                <th>ID</th>
                <th>Book Name</th>
                <th>Price</th>
                <th>Image</th>
                <th>Category</th>
                <th>Action</th>
              </tr>
              @foreach(var item in Model) {
                <tr>
                <td>@item.BookId</td>
                <td>@item.BookName</td>
                <td>@item.Price</td>
                <td><img src="@Url.Content("~/uploads/BookImages/" + item.Image)" width="100" height="150"/></td>
                <td>@item.Category.CategoryName</td>
                <td>
                  <a asp-action="Edit" asp-route-BookId="@item.BookId" class="btn btn-success">Edit</a>
                  <a class="btn btn-danger" onclick="return confirm('Bạn chắc chắn?')" asp-action="Delete" asp-route-BookId="@item.BookId">Delete</a>
                </td>
              </tr>
              }

              </tbody></table>

        </div>

        @* <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li if="${currentPage>1}">
              <a href="#">«</a>
            </li>
            <li><a href="#"></a></li>
            <li>
              <a href="#">»</a>
            </li>
          </ul>
        </div> *@

        @Html.PagedListPager(Model, page => Url.Action("Index", 
        new {currentFilter = ViewBag.currentFilter, CategoryId = ViewBag.categoryId, page}), 
        new X.PagedList.Web.Common.PagedListRenderOptions(){
            LiElementClasses = new List<String> {"page-item"},
            PageClasses = new List<String> {"page-link"}
            })
        
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->