@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Book>;

@{
    Layout = "~/Views/Shared/_LayoutBookStore.cshtml";
}
   
   
    <div class="ht__breadcrumb__area bg-image--1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__inner text-center">
                        <h2 class="breadcrumb-title text-black">Shop Grid</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcrumb area -->
    <!-- Start Shop Page -->
    <div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 order-2 order-lg-1 md-mt-40 sm-mt-40">
                    <div class="shop__sidebar">
                    <aside class="widget__categories products--cat">
                        <h3 class="widget__title">Book Categories</h3>
                        <ul>
                            @await Component.InvokeAsync("UserCategory")
                        </ul>
                    </aside>
                    <aside class="widget__categories sidebar--banner">
                        <img src="assets/images/others/banner_left.jpg" alt="banner images">
                        <div class="text">
                            <h2>new products</h2>
                            <h6>save up to <br> <strong>50%</strong> off</h6>
                        </div>
                    </aside>
                    </div>
                </div>

                <div class="col-lg-9 col-12 order-1 order-lg-2">
                    <div class="row">
                        <div class="col-lg-12 pull-right">
                            <div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">
                                
                                <div class="orderby__wrapper">
                                    <span>Sort By</span>
                                    <select id="sortDropdown" class="shot__byselect" name="OrderString">
                                        @if(ViewBag.orderString==null) {
                                            <option  class="title">Choose option</option>
                                            <option value="ASC">Increasing Price</option>
                                            <option value="DESC">Decreasing Price</option>
                                        } else if(ViewBag.orderString=="ASC"){
                                            <option  class="title">Choose option</option>
                                            <option value="ASC" selected>Increasing Price</option>
                                            <option value="DESC">Decreasing Price</option>
                                        }else if(ViewBag.orderString=="DESC"){
                                            <option  class="title">Choose option</option>
                                            <option value="ASC">Increasing Price</option>
                                            <option value="DESC" selected>Decreasing Price</option>
                                        }
                                    </select>
                                </div>
                                <!--Searrch-->
                                @* <form action="" method="get"> *@
                                    @using (Html.BeginForm("GridShop", "Home", FormMethod.Get))
                                    {
                                        <div class="box-tools pull-right margin-bottom">
                                            <div class="input-group input-group-sm hidden-xs" style="width: 200px;">
                                                <input type="hidden" name="CategoryId" value="@ViewBag.categoryId">
                                                <input type="text" name="SearchString" class="form-control pull-right" placeholder="Search" value="@ViewBag.currentFilter">
                                                <input type="hidden" name="OrderString" id="orderStringHidden">
                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                @* </form> *@

                            </div>
                        </div>
                    </div>
                    <div class="tab__container tab-content">
                        <div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
                            <div class="row">
                                
                            @foreach(var item in Model) {
                                <!-- Start Single Product -->
                                <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12" each="book:${bookList}">
                                    <div class="product__thumb">
                                        <a class="first__img" href="single-product.html"><img
                                                src="@Url.Content("uploads/BooksImages/" + item.Image)" alt="product image" width="150" height="350"></a>
                                        <a class="second__img animation1" asp-action="Detail"><img
                                                src="assets/images/books/bookdetail.jpg" alt="product image"></a>
                                        <div class="hot__box">
                                            <span class="hot-label">BEST SALLER</span>
                                        </div>
                                    </div>
                                    <div class="product__content content--center">
                                        <h4><a href="#">@item.BookName</a></h4>
                                        <ul class="price d-flex">
                                            <li><span>$@(item.Price)</span></li>
                                            <li class="old_price"><span>$@(item.Price)</span></li>
                                        </ul>
                                        <div class="action">
                                            <div class="actions_inner">
                                                <ul class="add_to_links">
                                                    <li><a class="cart" href="#"><i
                                                            class="bi bi-shopping-bag4"></i></a></li>
                                                    <li><a class="wishlist" href="#"><i
                                                            class="bi bi-shopping-cart-full"></i></a></li>
                                                    <li><a data-bs-toggle="modal" title="Quick View"
                                                           class="quickview modal-view detail-link"
                                                           data-bs-target="#productmodal"
                                                           data-id="${book.id}" data-name="${book.bookName}" data-image="${book.image}" data-price="${book.price}" data-category="${book.category.categoryName}"
                                                            ><i class="bi bi-search"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product__hover--content">
                                            <ul class="rating d-flex">
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Product -->
                            }

                            </div>

                            @* <ul class="wn__pagination">
                            </ul> *@
                            @Html.PagedListPager(Model, page => Url.Action("GridShop", 
                            new {CurrentFilter = ViewBag.currentFilter, CategoryId = ViewBag.categoryId, page, 
                                OrderString = ViewBag.orderString}), 
                            new X.PagedList.Web.Common.PagedListRenderOptions(){
                                LiElementClasses = new List<String> {"page-item"},
                                PageClasses = new List<String> {"page-link"}
                                })

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    document.getElementById('sortDropdown').addEventListener('change', function () {
        document.getElementById('orderStringHidden').value = this.value;
    });
    </script>